
.breadCrumbsPanel {
  border-bottom: 1px solid #DEDBDC;
  padding: 10px 0;
  display: flex;
  align-items: center;

  &_heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1A1718;
    margin-right: 10px;
  }

  &_arrowIcon {
    width: 4px;
    height: 7px;
    margin-right: 10px;
  }

  &_sectionTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #1A1718;
  }
}

